services:
  frigate:
    image: {{ frigate_image }}
    container_name: {{ frigate_container_name }}
    restart: unless-stopped
    shm_size: {{ frigate_shm_size }}
    volumes:
      - {{ frigate_project_directory }}/config:/config
      - {{ frigate_media_directory }}:/media/frigate
      - /etc/localtime:/etc/localtime:ro
{% if frigate_devices | length > 0 %}
    devices:
{% for frigate_device in frigate_devices %}
      - {{ frigate_device }}
{% endfor %}
{% endif %}
    ports:
{% for frigate_port in frigate_ports %}
      - {{ frigate_port }}
{% endfor %}
