{{ ansible_managed | comment }}
{% for share in nas_server_shares %}
{{ share.path }}{% for client in nas_server_nfs_clients %} {{ client }}({{ share.nfs_options | default(nas_server_nfs_options) }}){% endfor %}

{% endfor %}
