server:
  interface: {{ ns_server_listen_address }}
  port: {{ ns_server_listen_port }}
  access-control: 0.0.0.0/0 allow
forward-zone:
  name: "."
{% for ns_server_forward_address in ns_server_forward_addresses %}
  forward-addr: {{ ns_server_forward_address }}
{% endfor %}
