[Unit]
Description=Daily Zypper Automatic Security Updates Timer
Documentation=man:zypper(8)

[Timer]
# Run daily at {{ autoupdates_time }}
OnCalendar=daily
{% if autoupdates_time is defined and autoupdates_time != '' %}
OnCalendar=*-*-* {{ autoupdates_time }}:00
{% else %}
OnCalendar=*-*-* 02:00:00
{% endif %}
Persistent=true
RandomizedDelaySec=30min

[Install]
WantedBy=timers.target

