[Unit]
Description=Zypper Automatic Security Updates
Documentation=man:zypper(8)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/zypper-automatic-update.sh
Nice=19
IOSchedulingClass=2
IOSchedulingPriority=7

[Install]
WantedBy=multi-user.target

