server:
  username: "unbound"
  directory: "/etc/unbound"
  interface: {{ dns_unbound_listen_address }}
  port: {{ dns_unbound_listen_port }}
  num-threads: {{ dns_unbound_num_threads }}
  root-hints: "{{ dns_unbound_root_hints_path }}"
  auto-trust-anchor-file: "{{ dns_unbound_root_key_path }}"
  hide-identity: yes
  hide-version: yes
