http:
  address: 0.0.0.0:{{ dns_adguard_web_port }}
users:
  - name: {{ dns_adguard_admin_user }}
    password: {{ vault_dns_adguard_admin_password_hash }}
dns:
  bind_hosts:
    - 0.0.0.0
  port: {{ dns_adguard_dns_port }}
  upstream_dns:
{% for dns_adguard_upstream in dns_adguard_upstream_dns %}
    - {{ dns_adguard_upstream }}
{% endfor %}
